body {
    /* Body */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;

    position: relative;
    width: 1440px;
    height: 2764px;
    left: 100px;
    top: 100px;

    background: #DADADA;

}

.header {
    /* Header */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 98px;
    gap: 411px;

    width: 1400px;
    height: 82px;

    /* Neutral/0 */
    background: #FFFFFF;
    /* Neutral/2 */
    border-bottom: 1px solid #DEE5ED;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.header .logo-group {
    /* Logo Group */

    width: 158px;
    height: 38px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    position: relative;
}

.header .logo-group .burger-bliss {
    /* BurgerBliss */

    position: absolute;
    width: 109px;
    height: 24px;
    left: 147px;
    top: 31px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */
    letter-spacing: 0.15px;

    /* Neutral/8 */
    color: #7B95B7;


}

.header .logo-group .rectangle {
    /* Rectangle */

    position: absolute;
    width: 36px;
    height: 12px;
    left: 100px;
    top: 48px;

    /* Neutral/3 */
    background: #CED7E4;
    border-radius: 9px;

}

.header .logo-group .vector {
    /* Vector */

    position: absolute;
    width: 40px;
    height: 23px;
    left: 98px;
    top: 22px;

    /* Neutral/3 */
    background: #CED7E4;

}